<footer class="site-footer">
  <div class="container">
    <div class="footer-grid">
      <div class="footer-brand">
        <img
          src="images/Sunday%20Crumb%20Logos%20-%202.PNG"
          alt="Sunday Dozen"
          class="footer-icon"
        />
      </div>
      <div class="footer-contact">
        <h3>Contact</h3>
        <p>Owner: Sophie Hampton</p>
        <p>Email: sundaydozen@gmail.com</p>
      </div>
      <div class="footer-links">
        <h3>Quick links</h3>
        <a href="index.html">Home</a>
        <a href="about.html">About</a>
        <a href="order.html">Order</a>
        <!-- <a href="menu.html">Menu</a> -->
        <!-- <a href="gallery.html">Gallery</a> -->
        <a href="contact.html">Contact</a>
      </div>
    </div>
  </div>
</footer>
